@charset "UTF-8";

/**************BALISES**************/
html{
    font-size: 0px;
}

* {margin:0;padding:0;border:0;}

body {background: url(motif.png);
    font-size: 0px;}

/**************POLICES**************/
@font-face {
    font-family: "Tevegraphy_Med";
    src: url('NON-LICENSED_Tevegraphy_Medium.ttf');
}

@font-face {
    font-family: "Tevegraphy_Light";
    src: url('NON-LICENSED_Tevegraphy_Light.ttf');
}

@font-face {
    font-family: "Tevegraphy_Bold";
    src: url('NON-LICENSED_Tevegraphy_Bold.ttf');
}

@font-face {
    font-family: "Antipasto";
    src: url('Antipasto.ttf');
}

h1
{
    font-family: "Tevegraphy_Bold";
}

h3
{
    font-family: "Tevegraphy_Bold";
}

#foot
{
    color: white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.text
{
    font-family: "Antipasto";
    font-size: 17px;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px olivedrab;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: yellowgreen;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #7bac10;
}

.Text_Auth
{
    font-family:"Tevegraphy_Med";
    font-size: x-large;
}

.Teve_Bold
{
    font-family: "Tevegraphy_Med";
    font-weight: bold;
    font-size: x-large;
}

/**************Utilitaires**************/

.colors
{
    margin-left: 4px;
    background-color: #78b07e;

}

.colonne
{
    display: flex;
    flex-direction: column;
}

/**************PAGE DE GARDE**************/

.Authentification
{
    display: flex;
    font-size: 14px;

    flex-direction: column;
    align-items: center;
}

.signup
{
    display: flex;
    font-size: 14px;

    flex-direction: column;
    align-items: center;
}

.all
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.elem_gauche
{

    align-self: flex-start;
}

.conteneur
{
    align-items: center;
    flex-direction: column;
}

.logo
{
    flex-direction: column;
    margin-top: 10%;
}

.bouton1
{
    font-family: "Tevegraphy_Med";
    margin-top: 600px;
    margin-left: 5%;
}

.bouton2
{
    font-family: "Tevegraphy_Med";
    margin-top: 600px;
    margin-right: 5%;

}

.elem_droite
{

}

#ZoneDAffichage
{

}

.bouton3
{
    font-family: "Tevegraphy_Med";
}

.tabulation
{
    margin-left: 75px;
}

/**************INTERFACE\INDEX.PHP**************/

.texte_sec
{
    align-items: center;
    background-image: url("TexteVoteEat.png");
    margin: auto;
    margin-top: 20px;
    left: 0;
    top: 0;
    width: 300px;
    height: 133px;
    z-index: 1;
}

.boutons
{
    position: fixed;
    margin-left: 83%;
    margin-top: 20px;
    font-family: "Tevegraphy_Med";
}

.conteneur_bis
{
    display: flex;
    justify-content: space-between;
}

.boutons_mesgroupes
{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left:30px;
    margin-top: 30px;
    font-family: "Tevegraphy_Med";
}

.boutons_afficher_groupe
{
    display: none;
    position: fixed;
    margin-left: 30px;
    margin-top: 90px;
    font-family: "Tevegraphy_Med";
    z-index: 150;
}

.paragraphe
{
    display: flex;
    align-items:center;
    flex-direction: column;
}

.menus_depliant
{
    display: flex;
    margin-left:50px;
    margin-top: 20px;
    flex-direction:row;
    justify-content:space-around;
    width:300px;
    position: fixed;
    font-family: "Tevegraphy_Med";
    z-index: 150;

}

.bouton
{
    position: relative;
}

.bouton:hover:before {
    content: attr(data-hover);
    position: absolute;
    display: block;
    background: #266334;
    top: -100%;
    transform: translateX(-50%);
    padding: 8px;
    border: 3px outset #1D8C35;
    border-radius: 10px;
}

.bouton56
{
    position: relative;
}

.bouton56:hover:before {
    content: attr(data-hover);
    position: absolute;
    display: block;
    background: #67AF46;
    top: -100%;
    transform: translateX(-25%);
    padding: 8px;
    border: 3px outset #1D8C35;
    border-radius: 10px;
}

/**************PAGE AVEC LA MAP**************/

.degrade
{

    background: radial-gradient(#45A339 30%,#4C9E93);
}

.boite_verte
{
    display: flex;
    border: 4px ridge #1D8C35;
    border-radius: 10px;
    width: 750px;
    height: 500px;

}

.pseudos
{
    display: flex ;
    flex-direction: column;
    align-items: flex-start;

}

.noms_restos
{

}

.ligne
{
    margin-top: 2%;
    width: 700px;
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;

}

.pseudos_box
{
    display: flex;
    border: 4px ridge #1D8C35;
    border-radius: 10px;
    width: 150px;
    height: 500px;
    margin-left: 2%;
}

.tampon
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:100%;
}

.resultat_box
{
    display: flex;
    border: 4px ridge #1D8C35;
    border-radius: 10px;
    width: 150px;
    height: 500px;
    margin-right: 2%;
}

.hidden_box
{
    display: flex;
    opacity:0;
    border: 4px ridge #1D8C35;
    border-radius: 10px;
    width: 150px;
    height: 500px;
    margin-right: 2%;
}


